:root {
  --brand-color: #4d5ae5;
  --main-color: #2e2f42;
  --secondary-color: #434455;
  --additional-one-color: #404bbf;
  --additional-two-color: #f4f4fd;
  --additional-three-color: #ffffff;
  --additional-four-color: #e7e9fc;
  --main-size: 16px;
  --main-font-weight: 500;
}

/* =========================== body ===========================*/
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
  letter-spacing: 0.02em;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

.section {
  padding: 120px 0;
}
/* =========================== /body ===========================*/

/* =========================== cl ===========================*/
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* =========================== /cl ===========================*/

/* =========================== Header ===========================*/

.header {
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
}
.header-nav {
  display: flex;
}
.logo {
  display: block;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-right: 76px;
}
.logo-web {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
}
.header-list {
  display: flex;
}
.header-item {
  font-weight: var(--main-font-weight);
  font-size: var(--main-size);
  line-height: 1.5;
  color: var(--main-color);
}

.header-item:hover,
.header-item:focus {
  color: var(--additional-one-color);
}
.address {
}
.address-list {
  display: flex;
}
.address-item {
  font-style: normal;
  font-size: var(--main-size);
  line-height: 1.5;
  color: var(--secondary-color);
}
.address-item:hover,
.address-item:focus {
  color: var(--additional-one-color);
}

.studio {
  font-weight: var(--main-font-weight);
  font-size: var(--main-size);
  line-height: 1.5;
  color: var(--additional-one-color);
}

.portfolio {
  font-weight: var(--main-font-weight);
  font-size: var(--main-size);
  line-height: 1.5;
  color: var(--additional-one-color);
}

/* =========================== Header ===========================*/

/* =========================== Hero ===========================*/

.hero-section {
  background-color: var(--main-color);
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.main-title {
  font-size: 56px;
  line-height: 1.07;
  color: var(--additional-three-color);
  margin-bottom: 48px;
}
.hero-btn {
  font-weight: var(--main-font-weight);
  font-size: var(--main-size);
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--additional-two-color);
  background-color: var(--brand-color);
  cursor: pointer;
  min-width: 169px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--additional-one-color);
}

/* =========================== /Hero ===========================*/

/* =========================== Our Features ===========================*/

.features-list {
  display: flex;
  column-gap: 24px;
}
.list {
}
.features-item {
  flex-basis: calc((100%-72px) / 4);
}
.features-subtitle {
  font-weight: var(--main-font-weight);
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.features-text {
  font-size: var(--main-size);
  line-height: 1.5;
  color: var(--secondary-color);
}

/* =========================== /Our Features ===========================*/

/* =========================== Our works ===========================*/

.works-section {
  padding-bottom: 120px;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.works-list {
  display: flex;
  column-gap: 24px;
}
.works-item {
  flex-basis: calc((100%-48px) / 3);
}
.works-img {
}

/* =========================== /Our works ===========================*/

/* =========================== Our team ===========================*/

.team-section {
  background-color: var(--additional-two-color);
}

.team-list {
  display: flex;
  column-gap: 24px;
}
.team-member {
  flex-basis: calc((100%-72px) / 4);
  background-color: var(--additional-three-color);
}
.team-photo {
}
.member-info {
  padding: 32px 16px;
  text-align: center;
}
.team-subtitle {
  font-weight: var(--main-font-weight);
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.team-text {
  font-size: var(--main-size);
  line-height: 1.5;
  color: var(--secondary-color);
}

/* =========================== /Our team ===========================*/

/* =========================== Footer ===========================*/

.footer {
  background-color: var(--main-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-info {
}
.logo-footer {
  color: var(--additional-two-color);
  padding: 16px 0;
  display: inline-block;
}

.footer-text {
  font-size: var(--main-size);
  line-height: 1.5;
  color: var(--additional-four-color);
  max-width: 264px;
}
/* =========================== /Footer ===========================*/

/* =========================== 
Portfolio
===========================*/

.portfolio-section {
}

/* =========================== Filters btn ===========================*/

.filters-list {
}
.filters-item {
}
.filters-btn {
  font-family: 'Roboto', sans-serif;
  background-color: var(--additional-two-color);
  font-weight: var(--main-font-weight);
  font-size: var(--main-size);
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  border: 1px solid var(--additional-four-color);
  border-radius: 4px;
  cursor: pointer;
}
.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--additional-one-color);
  color: var(--additional-three-color);
}

/* =========================== /Filters btn ===========================*/

/* =========================== results ===========================*/

.results-list {
}
.results-item {
}
.results-link {
}
.results-img {
}
.results-subtitle {
  font-weight: var(--main-font-weight);
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-color);
}
.results-dsc {
  font-size: var(--main-size);
  line-height: 1.5;
  color: var(--secondary-color);
}

/* =========================== /results ===========================*/
